<div id="search-component">
  <h2><label for="search-box">Book & Album search
    <input #searchBox id="search-box" (input)="search(searchBox.value)"/>
  </label></h2>

  <h2>My Books</h2>
  <ul class="books">

    <li *ngFor="let book of books"
        [class.selected]="book === selectedBook"
        (click)="onBookSelect(book)">
      <span class="badge">{{book.title}}</span> {{book.authors}}

    </li>

  </ul>

  <app-book-detail [book]="selectedBook"></app-book-detail>
  
  <h2>My Albums</h2>
  <ul class="albums">

    <li *ngFor="let album of albums"
        [class.selected]="album === selectedAlbum"
        (click)="onAlbumSelect(album)">
      <span class="badge">{{album.title}}</span> {{album.artist}}

    </li>

  </ul>

  <app-album-detail [album]="selectedAlbum"></app-album-detail>
</div>
