/* StoreComponent's private CSS styles */

#search-box {
  height: 2em;
  width: 40em;
}
.books {
  margin: 0 0 2em 0;
  list-style-type: none;
  padding: 0;
  width: 15em;
}
.books li {
  cursor: pointer;
  position: relative;
  left: 0;
  background-color: #EEE;
  margin: .5em;
  padding: .3em 0;
  height: 1.6em;
  border-radius: 4px;
  width: 60em;
}
.books li:hover {
  color: #607D8B;
  background-color: #DDD;
  left: .1em;
}
.books li.selected {
  background-color: #CFD8DC;
  color: white;
}
.books li.selected:hover {
  background-color: #BBD8DC;
  color: white;
}
.books .badge {
  display: inline-block;
  font-size: small;
  color: white;
  padding: 0.8em 0.7em 0 0.7em;
  background-color:#405061;
  line-height: 1em;
  position: relative;
  left: -1px;
  top: -4px;
  height: 1.8em;
  margin-right: .8em;
  border-radius: 4px 0 0 4px;
}

/* StoreComponent's private CSS styles */
.albums {
  margin: 0 0 2em 0;
  list-style-type: none;
  padding: 0;
  width: 15em;
}
.albums li {
  cursor: pointer;
  position: relative;
  left: 0;
  background-color: #EEE;
  margin: .5em;
  padding: .3em 0;
  height: 1.6em;
  border-radius: 4px;
  width: 60em;
}
.albums li:hover {
  color: #607D8B;
  background-color: #DDD;
  left: .1em;
}
.albums li.selected {
  background-color: #CFD8DC;
  color: white;
}
.albums li.selected:hover {
  background-color: #BBD8DC;
  color: white;
}
.albums .badge {
  display: inline-block;
  font-size: small;
  color: white;
  padding: 0.8em 0.7em 0 0.7em;
  background-color:#405061;
  line-height: 1em;
  position: relative;
  left: -1px;
  top: -4px;
  height: 1.8em;
  margin-right: .8em;
  border-radius: 4px 0 0 4px;
}
